<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{titlebar}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    <h1> this is about page </h1>
    <p>
        you learn about us this page
    </p>

    <p>
        new future git test now
    </p>

    {{> footer}}
    {{> header}}
</body>
</html>